@keyframes fadeInAnimation {
    0% {
        opacity: 0; /* Start hidden */
    }
    100% {
        opacity: 1; /* End fully visible */
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    z-index: 1; /* Ensures content is above the blurred circle */
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Navigation Styles */
header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f0f0f0;
}

/* Section Styling */
.section {
    padding: 60px 0;
}

.section h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.section p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;
}

#contact ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center; 
    gap: 10px;
}

#contact ul li {
    margin: 10px 0;
}
.projects-container {
    flex-direction: column;
    overflow: hidden; /* Prevent scrolling */
    max-height: 100vh; /* Ensures it stays within the viewport */
    text-align: center; 
}

body {
    background-image: url('assets/background.png');
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Centers the image on the page */
    background-attachment: fixed; /* Keeps the image fixed when scrolling */
    color: #fff; /* Ensures the text remains visible over the background */
    font-family: 'Arial', sans-serif; /* Optional: Customize font */
    margin: 0; /* Prevent default body margin */
    height: 100vh; /* Ensures the body takes up the full height of the viewport */
    padding-top: 80px; /* Adjust this value depending on header height */
    padding-bottom: 80px; /* Adjust this value depending on footer height */
    position: relative; /* Ensures the background circle appears behind the content */
    overflow: hidden; /* Prevents any scrolling caused by the large circle */
    overflow-y: auto;  /* Enables vertical scrolling when needed */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    .projects {
        align-items: center; /* Centers list items horizontally */
        flex-direction: column;
        flex-shrink: 0; /* Prevents the projects from forcing a scroll */
        max-width: 100%; /* Ensures they don’t exceed the container width */
    }

    .project {
        width: 80%;
        margin-bottom: 20px;
    }
}