header {
    position: fixed;
    top: 50px;
    left: 25%;
    width: 50%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur the background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    z-index: 1000; /* Ensure the header stays on top */
    color: #ffffff;
    display: flex;
    font-family: 'Arial', sans-serif;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    transition: all 0.3s ease;
}

header.scrolled {
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
}

header h1 {
    font-family: 'Dancing Script', cursive;
    transition: color 0.3s ease;
}

header h1:hover {
    color: #696969; /* Change color on hover */
}

/* Style for the navigation links */
header nav ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Space between navigation items */
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

header nav ul li a:hover {
    color: #696969; /* Change color on hover */
    transform: scale(1.1); /* Slightly scale up the link */
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply the same blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    color: #ffffff;
    text-align: center;
    font-family: 'Arial', sans-serif;
    z-index: 1000; /* Ensure the header stays on top */
}
